div.dataListContainer {
  padding: 30px;
}

div.listItem {
  div.itemTitle {
    a {
      font-size: 20px;
      border-bottom: 1px solid blue;
      color: blue;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
    }
  }

  div.itemLink {
    margin-top: 3px;
    a {
      color: green;
      font-size: 14px;
      text-decoration: none;
    }
  }

  div.itemSnippet {
    p {
      margin-top: 5px;
      color: #565555;
      font-size: 16px;
    }
  }
}
