.App {
  display: flex;
  justify-content: center;
}

.layout {
  width: 600px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 100vh;
  overflow-y: hidden;
}

.searchmatch {
  font-weight: bold;
}
